[run]
source = apps, config
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */env/*
    manage.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */tasks.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abstract
    
[html]
directory = htmlcov
